<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a ui-sref="main.dashboard" class="active"><i class="lnr lnr-home"></i>
						<span>{{"menu.dashboard" | translate}}</span></a></li>
				<li><a ui-sref="main.doctor" class=""><i class="lnr lnr-code"></i>
						<span>{{"menu.doctors" | translate}}</span></a></li>
				<li><a ui-sref="main.patient" class=""><i
						class="lnr lnr-chart-bars"></i> <span>{{"menu.patients" | translate}}</span></a></li>
			</ul>
		</nav>
	</div>
</div>
<!-- END LEFT SIDEBAR -->